{% load static %}
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>MSS|Masterspace Solutions</title>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Catamaran:wght@100&family=Roboto+Condensed:wght@300&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA==" crossorigin="anonymous" referrerpolicy="no-referrer" />    <!-- Template CSS -->
<link rel="stylesheet" href="{% static 'css/style-starter.css' %}">
<script src="{% static 'js/date.js' %}"></script>
<style>
.email{ 
        transition: all .2s ease-in-out; 
    }
.email:hover { 
    transform: scale(1.15);
 }
    
.office_oop_container {
  position: relative;
  text-align: center;
  color: white;
}
.office_oop_centered {
  position: absolute;
  top: 50%;
  left: 30%;
}
.dropbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}
.subtitle{
        font-size: 25px;
        font-weight: bold;
        color:#fff;
    }
.nav-item a{
    font-family: 'Catamaran', sans-serif;
    font-weight: 300;
    font-size: 14px;   
}
.accordion-item button span,accordion-conten p{
     font-family: 'Catamaran', sans-serif;
        font-weight: 400;
        font-size: 16px;
}
.products-content p,ul li,ul li span{
 font-family: 'Catamaran', sans-serif;
        font-weight: 400;
        font-size: 16px;
}
.nav-link{
 font-family: 'Catamaran', sans-serif;
    font-weight: 300;
    font-size: 14px;   
}
.smodule{
    font-family: 'Catamaran', sans-serif;
       font-weight: 300;
       font-size: 16px;   
   }
.mydropdown {
    position: relative;
    display: block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 550px;
    max-width: 900px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

   
.dropdown-content li {
    margin-left: 0px;
    text-align: justify;
    color: black;
    margin-right:10px;
    list-style: none;
    font-weight: 300px;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content li a.subcontent {
    font-family: 'Catamaran', sans-serif;
    font-weight: 300;
    color: #200;
    width: inherit;
    overflow: auto;
    text-align: justify;
    margin: auto;
    list-style: none;
    font-size: 14px;
    font-weight: 100px;
    padding: 8px 10px;
    text-decoration: none;
    line-height: 20px;
    display: block;
}

.dropdown-content a:hover {
    background-color: #fdd;
    margin-right:100px;
    font-weight: 200px;
}

.mydropdown:hover .dropdown-content {
    display: flex;
     margin-right:100px;
    flex-direction:row;
}

.mydropdown:hover .dropbtn {
    background-color: #f3f3f3;
}
</style>
</head>
<body>

    <div class="center">
        {% if messages %} 
        {% for message in messages %}
        <p>{{message}}</p>
        {% endfor %} {% endif %}
    </div>
    <!-- top header -->
    <section class="w3l-top-header">
        <div class="container">
            <div class="top-header-2">
                <div class="d-grid main-top">
                    <div class="top-headers expand-lg navbar-nav">
                        <ul class="left-info">
                            <li>
                                <span class="fa fa-phone"></span><a href="tel:{{abt.phone}}">{{abt.phone}}</a>
                            </li>
                        </ul>
                    </div>
                    <div class="top-headers">
                        <ul>
                             {% for link in social_links %}
                            <li>
                            <a href="{{link.link_url}}" target="_blank"><span class="{{link.icon}}" aria-hidden="true"></span></a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- //top header -->
    <header id="site-header" class="fixed-top">
        <section class="w3l-header-4">
            <div class="container">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <h1>
                        <a class="navbar-brand" href="/">
                            <span class="">
                      <img src="{% static 'images/logo.jpg' %}" width="80%" style="border-spacing: 1px;" alt="MSS" class="ml-0">
                  </span>
                        </a>
                    </h1>
                    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="fa icon-expand fa-bars"></span>
                  <span class="fa icon-close fa-times"></span>
              </button>

                    <div class="collapse navbar-collapse" id="navbarNav" style="margin-right:40px">
                        <ul class="navbar-nav">
                            <li class="nav-item active">
                                <a class="nav-link" href="{% url 'home' %}">HOME </a>
                            </li>
                            <li class="nav-item mydropdown ml-0">
                            <a class="nav-link dropbtn" style="display:flex;">SERVICES<i class="fa fa-caret-down ml-2 mt-1 mb-2"></i></a>
                            <ul class="dropdown-content">
                              {% for c in service_classes %}
                              <li class="nav-item" style="font-weight: bold;">{{c.title}}
                              {% for s in c.services.all %}
                                <a class="subcontent" href="{% url 'more' s.id %}">{{s.title}}</a>
                                {% endfor %}
                              </li>
                              {% endfor %}
                            </ul>
                            </li>
                            <li class="nav-item @@about__active">
                                <a class="nav-link" href="{% url 'about' %}">ABOUT</a>
                            </li>
                            <li class="nav-item @@contact__active">
                                <a class="nav-link" href="{% url 'contact' %}">CONTACT</a>
                            </li>
                             <li class="nav-item @@contact__active">
                                <a class="nav-link" href="{% url 'support_services' %}">SUPPORT</a>
                            </li>
                            {% if request.user.is_staff %}
                             <li class="nav-item @@contact__active" style="color: blueviolet;">
                                <a class="nav-link" href="/admin">ADMIN</a>
                            </li>
                            {% endif %}
                            <li class="nav-item @@contact__active">
                                <a class="nav-link" style="color: rgb(255, 145, 0);" href="{% if abt.careers_url %} {{abt.careers_url}} {% else %} https://careers.masterspace.co.ke/ {% endif %}">CAREERS</a>
                            </li>
                        <li class="navbar-nav search-right mt-lg-0 mt-2 ml-4">
                            <div class="nav-item mr-2" title="Search">
                                <a href="#search" class="btn search-search">
                                    <span class="fa fa-search" aria-hidden="true"></span></a>
                            </div>
                        </li>
                        </ul>
                        <!-- //toggle switch for light and dark theme -->
                        <!-- search popup -->
                        <div id="search" class="pop-overlay">
                            <div class="popup">
                                <form action="{% url 'search' %}" method="GET" class="d-flex">
                                    <input type="search" placeholder="Search.." name="query" required="required" autofocus>
                                    <button type="submit"><span class="fa fa-search"></span></button>
                                    <a class="close" href="#close">&times;</a>
                                </form>
                            </div>
                        </div>
                        <!-- /search popup -->
                    </div>
                    <!-- toggle switch for light and dark theme -->
                    <div class="mobile-position">
                        <nav class="navigation">
                            <div class="theme-switch-wrapper mb-5 mt-0">
                            <label class="theme-switch border-primary" for="checkbox">
                              <input type="checkbox" id="checkbox">
                              <div class="mode-container">
                                <h6>Theme</h6>
                                  <i class="gg-sun m-auto">
                                  </i>
                                  <i class="gg-moon m-auto">
                                  </i>
                              </div>
                          </label>
                            </div>
                        </nav>
                    </div>
                </nav>
            </div>
        </section>
    </header>
    <main>
        {% block content %} {% endblock %}
    </main>
    <!-- footer -->
    <section class="w3l-footer-29-main">
        <div class="footer-29 py-5">
            <div class="container py-lg-4">
                <div class="row footer-top-29">
                   <div class="vl"></div>
                    <div class="col-lg-4 col-md-6 col-sm-7 footer-list-29 footer-1" style="border:none;">
                        <div class="footer-logo mb-4">
                            <a class="navbar-brand" href="/">
                            <h6 class="footer-title-29 mt-2">MASTERSPACE SOLUTIONS LTD</h6>
                        <span class="">
                          <img src="{% static 'images/logo.jpg' %}" alt="">
                        </span> 
                     </a>
                        </div>
                        <p>Tangible Results</p>
                        <div class="main-social-footer-29 mt-4">
                           {% for link in social_links %}
                            <a href="{{link.link_url}}" target="_blank"><span class="{{link.icon}}" aria-hidden="true"></span></a>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="vl"></div>
                    <div class="col-lg-2 col-md-6 col-sm-5 col-6 footer-list-29 footer-2 mt-sm-0 mt-5">
                        <ul>
                            <h6 class="footer-title-29">SERVICES</h6>
                            <li><a href="{% url 'about' %}">About Us</a></li>
                            <li><a href="{% url 'home' %}#homeblog"> Blog posts</a></li>
                            <li><a href="{% url 'support_services' %}">Services</a></li>
                            <li><a href="{% url 'contact' %}">Contact us</a></li>
                            <li><a href="#components"> Components</a></li>
                        </ul>
                    </div>
                    <div class="vl"></div>
                    <div class="col-lg-2 col-md-6 col-sm-5 col-6 footer-list-29 footer-3 mt-lg-0 mt-5">
                        <h6 class="footer-title-29" href="">ADDRESS</h6>
                        <ul>
                            <li><a href="{% url 'home' %}#homeblog">Core values & Culture</a></li>
                            <li><a href="{% url 'contact' %}#contact">Client support</a></li>
                        </ul>

                    </div>
                    <div class="vl"></div>
                    <div class="col-lg-2 col-md-6 col-sm-5 footer-list-29 footer-4 mt-lg-0 mt-5">
                        <h6 class="footer-title-29">CONTACT INFO</h6>
                        <p>{{abt.location.floor}} {{abt.location.building}} {{abt.location.street}},<br>{{abt.location.city}}.</p>
                        <p class="mt-2">Phone : <a href="tel:{{abt.phone}}" target="_blank">{{abt.phone}}</a></p>
                        <p class="mt-2">Email : <a href="mailto:{{abt.email}}" target="_blank">{{abt.email}}</a></p>
                        <p class="mt-2">Support : <a href="mailto:infotdbsoft@gmail.com" target="_blank">info@support.com</a></p>
                    </div>
                </div>
            </div>
        </div>
        <!-- copyright -->
        <section class="w3l-copyright text-center">
            <div class="container">
                <p class="copy-footer-29">Copyright © {% now "Y" %} Masterspace Solutions Ltd. All rights reserved. Design by <a href="https://titusowuorportfolio.herokuapp.com/" target="_blank">
            Titus@MSS</a></p>
            </div>

            <!-- move top -->
            <button onclick="topFunction()" id="movetop" title="Go to top">⤴</button>
            <script>
                // When the user scrolls down 20px from the top of the document, show the button
                window.onscroll = function() {
                    scrollFunction()
                };

                function scrollFunction() {
                    if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                        document.getElementById("movetop").style.display = "block";
                    } else {
                        document.getElementById("movetop").style.display = "none";
                    }
                }

                // When the user clicks on the button, scroll to the top of the document
                function topFunction() {
                    document.body.scrollTop = 0;
                    document.documentElement.scrollTop = 0;
                }
            </script>
            <!-- /move top -->
        </section>
        <!-- //copyright -->
    </section>
    <!-- //footer -->

    <!--  javascripts file here -->
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>

    <script src="{% static 'js/theme-change.js' %}"></script>
    <!-- //light and dark mode switch js -->

    <script src="{% static 'js/jquery-1.9.1.min.js' %}"></script>
    <!-- faq -->
    <script>
        const items = document.querySelectorAll(".accordion button");

        function toggleAccordion() {
            const itemToggle = this.getAttribute('aria-expanded');

            for (i = 0; i < items.length; i++) {
                items[i].setAttribute('aria-expanded', 'false');
            }

            if (itemToggle == 'false') {
                this.setAttribute('aria-expanded', 'true');
            }
        }

        items.forEach(item => item.addEventListener('click', toggleAccordion));
    </script>
    <!-- //faq -->

    <script src="{% static 'js/easyResponsiveTabs.js' %}"></script>
    <!--Plug-in Initialisation-->
    <script type="text/javascript">
        $(document).ready(function() {
            //Horizontal Tab
            $('#parentHorizontalTab').easyResponsiveTabs({
                type: 'default', //Types: default, vertical, accordion
                width: 'auto', //auto or any width like 600px
                fit: true, // 100% fit in a container
                tabidentify: 'hor_1', // The tab groups identifier
                activate: function(event) { // Callback function if tab is switched
                    var $tab = $(this);
                    var $info = $('#nested-tabInfo');
                    var $name = $('span', $info);
                    $name.text($tab.text());
                    $info.show();
                }
            });
        });
    </script>

    <!-- owl carousel -->
    <script src="{% static 'js/owl.carousel.js' %}"></script>
    <!-- script for banner slider-->
    <script>
        $(document).ready(function() {
            $('.owl-one').owlCarousel({
                loop: true,
                margin: 0,
                nav: false,
                responsiveClass: true,
                autoplay: true,
                autoplayTimeout: 5000,
                autoplaySpeed: 1000,
                autoplayHoverPause: false,
                responsive: {
                    0: {
                        items: 1
                    },
                    480: {
                        items: 1
                    },
                    667: {
                        items: 1
                    },
                    1000: {
                        items: 1
                    }
                }
            })
        })
    </script>
    <!-- //script -->
    <!-- owl carousel -->


    <!-- script for customers -->
    <script>
        $(document).ready(function() {
            $('.owl-three').owlCarousel({
                loop: true,
                margin: 0,
                nav: false,
                dots: false,
                responsiveClass: true,
                autoplay: true,
                autoplayTimeout: 5000,
                autoplaySpeed: 1000,
                autoplayHoverPause: false,
                responsive: {
                    0: {
                        items: 3,
                        nav: true
                    },
                    480: {
                        items: 3,
                        nav: true
                    },
                    667: {
                        items: 3,
                        nav: true
                    },
                    800: {
                        items: 4,
                        nav: true
                    },
                    1000: {
                        items: 5,
                        nav: true
                    }
                }
            })
        })
    </script>
    <!-- //customers owlcarousel -->

    <!-- disable body scroll which navbar is in active -->
    <!-- <script>
    $(function () {
      $('.navbar-toggler').click(function () {
        $('body').toggleClass('noscroll');
      })
    });
  </script> -->
    <!-- disable body scroll which navbar is in active -->

    <!--/MENU-JS-->
    <script>
        $(window).on("scroll", function() {
            var scroll = $(window).scrollTop();

            if (scroll >= 80) {
                $("#site-header").addClass("nav-fixed");
            } else {
                $("#site-header").removeClass("nav-fixed");
            }
        });

        //Main navigation Active Class Add Remove
        $(".navbar-toggler").on("click", function() {
            $("header").toggleClass("active");
        });
        $(document).on("ready", function() {
            if ($(window).width() > 991) {
                $("header").removeClass("active");
            }
            $(window).on("resize", function() {
                if ($(window).width() > 991) {
                    $("header").removeClass("active");
                }
            });
        });
        //card js
        $(document).ready(function(){
  var zindex = 10;
  
  $("div.card").click(function(e){
    e.preventDefault();

    var isShowing = false;

    if ($(this).hasClass("show")) {
      isShowing = true
    }

    if ($("div.cards").hasClass("showing")) {
      // a card is already in view
      $("div.card.show")
        .removeClass("show");

      if (isShowing) {
        // this card was showing - reset the grid
        $("div.cards")
          .removeClass("showing");
      } else {
        // this card isn't showing - get in with it
        $(this)
          .css({zIndex: zindex})
          .addClass("show");

      }

      zindex++;

    } else {
      // no cards in view
      $("div.cards")
        .addClass("showing");
      $(this)
        .css({zIndex:zindex})
        .addClass("show");

      zindex++;
    }
    
  });
});
    </script>
    <!--//MENU-JS-->

    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <!-- //bootstrap js -->

</body>

</html>
