{% load static %}
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>MSS|Masterspace Solutions</title>

    <link href="//fonts.googleapis.com/css2?family=Prompt:wght@300;400;600&display=swap" rel="stylesheet">
    <link href="//fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400;700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA==" crossorigin="anonymous" referrerpolicy="no-referrer" />    <!-- Template CSS -->
    <link rel="stylesheet" href="{% static 'css/style-starter.css' %}">
    <script src="{% static 'js/date.js' %}"></script>
</head>

<body>
    <div class="center">
        {% if messages %} {%for message in messages %}
        <p>{{message}}</p>
        {% endfor %} {% endif %}
    </div>
    <!-- top header -->
    <section class="w3l-top-header">
        <div class="container">
            <div class="top-header-2">
                <div class="d-grid main-top">
                    <div class="top-headers expand-lg navbar-nav">
                        <ul class="left-info">
                            <li>
                                <span class="fa fa-phone"></span><a href="tel:{{abt.phone}}">{{abt.phone}}</a>
                            </li>
                        </ul>
                    </div>
                    <div class="top-headers">
                        <ul>
                         <li>
                                <a href="https://wa.me/{{abt.phone}}"><span class="fa fa-whatsapp"></span></a>
                            </li>
                            <li>
                                <a href="#facebook"><span class="fa fa-facebook"></span></a>
                            </li>
                            <li>
                                <a href="#twitter"><span class="fa fa-twitter"></span></a>
                            </li>
                            <li>
                                <a href="#instagram"><span class="fa fa-instagram"></span></a>
                            </li>
                            <li class="mr-0">
                                <a href="#linkedin"><span class="fa fa-linkedin"></span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- //top header -->
    <header id="site-header" class="fixed-top">
        <section class="w3l-header-4">
            <div class="container">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <h1>
                        <a class="navbar-brand" href="/">
                            <span class="">
                      <img src="{% static 'images/logo.jpg' %}" width="90%" style="border-spacing: 2px;border: solid;border-color: rgb(12, 119, 155);background-origin: padding-box;border-radius:20%;border:rgb(118, 207, 236);" alt="MSS">
                  </span>
                        </a>
                    </h1>
                    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="fa icon-expand fa-bars"></span>
                  <span class="fa icon-close fa-times"></span>
              </button>

                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav">
                            <li class="nav-item active">
                                <a class="nav-link" href="{% url 'home' %}">Home </a>
                            </li>
                            <li class="nav-item @@about__active">
                                <a class="nav-link" href="{% url 'about' %}">About</a>
                            </li>
                            <li class="nav-item @@services__active">
                                <a class="nav-link" href="{% url 'services' %}">Our Services</a>
                            </li>
                            <li class="nav-item @@contact__active">
                                <a class="nav-link" href="{% url 'contact' %}">Contact</a>
                            </li>
                            {% if request.user.is_staff %}
                             <li class="nav-item @@contact__active" style="color: blueviolet;">
                                <a class="nav-link" href="/admin">Admin</a>
                            </li>
                            {% endif %}
                            <li class="nav-item @@contact__active">
                                <a class="nav-link" style="color: rgb(255, 145, 0);" href="{% if abt.careers_url %} {{abt.careers_url}} {% else %} https://careers.masterspace.co.ke/ {% endif %}">Careers</a>
                            </li>
                        </ul>
                        <ul class="navbar-nav search-right mt-lg-0 mt-2">
                            <li class="nav-item mr-2" title="Search">
                                <a href="#search" class="btn search-search">
                                    <span class="fa fa-search" aria-hidden="true"></span></a>
                            </li>
                            <li class="nav-item">
                                <a href="{% url 'home' %}" class="btn btn-primary d-none d-lg-block btn-style mr-3" style="background-color: rgb(7, 46, 122);">
                                    <span style="color: black;">Dark</span>|<span style="color: white;">Light</span>|<span style="color: chartreuse;">Mode</span></a>
                            </li>
                        </ul>
                        <!-- //toggle switch for light and dark theme -->
                        <!-- search popup -->
                        <div id="search" class="pop-overlay">
                            <div class="popup">
                                <form action="{% url 'search' %}" method="GET" class="d-flex">
                                    <input type="search" placeholder="Search.." name="query" required="required" autofocus>
                                    <button type="submit"><span class="fa fa-search"></span></button>
                                    <a class="close" href="#close">&times;</a>
                                </form>
                            </div>
                        </div>
                        <!-- /search popup -->
                    </div>
                    <!-- toggle switch for light and dark theme -->
                    <div class="mobile-position">
                        <nav class="navigation">
                            <div class="theme-switch-wrapper">
                                <label class="theme-switch" for="checkbox">
                              <input type="checkbox" id="checkbox">
                              <div class="mode-container">
                                  <i class="gg-sun"></i>
                                  <i class="gg-moon"></i>
                              </div>
                          </label>
                            </div>
                        </nav>
                    </div>
                </nav>
            </div>
        </section>
    </header>
    <main>
        {% block content %} {% endblock %}
    </main>
    <!-- footer -->
    <section class="w3l-footer-29-main">
        <div class="footer-29 py-5">
            <div class="container py-lg-4">
                <div class="row footer-top-29">
                    <div class="col-lg-4 col-md-6 col-sm-7 footer-list-29 footer-1 pr-lg-5">
                        <div class="footer-logo mb-4">
                            <a class="navbar-brand" href="/">
                        <span class="">
                          <img src="{% static 'images/logo.jpg' %}" alt="">
                        </span> 
                      <br> 
                      MSS|Masterspace <br> Solutions Ltd.</a>
                        </div>
                        <p>Tangible Results</p>
                        <div class="main-social-footer-29 mt-4">
                            <a href="https://wa.me/{{abt.phone}}" target="_blank"><span class="fa fa-whatsapp-square" aria-hidden="true"></span></a>
                            <a href="{{fb.link_url}}" target="_blank"><span class="fa fa-facebook-square" aria-hidden="true"></span></a>
                            <a href="{{twit.link_url}}" target="_blank"><span class="fa fa-twitter-square" aria-hidden="true"></span></a>
                            <a href="{{insta.link_url}}" target="_blank"><span class="fa fa-instagram" aria-hidden="true"></span></a>
                            <a href="{{linkedin.link_url}}" target="_blank"><span class="fa fa-linkedin-square" aria-hidden="true"></span></a>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-6 col-sm-5 col-6 footer-list-29 footer-2 mt-sm-0 mt-5">

                        <ul>
                            <h6 class="footer-title-29">Navigation</h6>
                            <li><a href="{% url 'about' %}">About Us</a></li>
                            <li><a href="{% url 'home' %}#homeblog"> Blog posts</a></li>
                            <li><a href="{% url 'services' %}">Services</a></li>
                            <li><a href="{% url 'contact' %}">Contact us</a></li>
                            <li><a href="#components"> Components</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-2 col-md-6 col-sm-5 col-6 footer-list-29 footer-3 mt-lg-0 mt-5">
                        <h6 class="{% url 'services' %}">Resources</h6>
                        <ul>
                            <li><a href="{% url 'home' %}#homeblog">Core values & Culture</a></li>
                            <li><a href="{% url 'contact' %}#contact">Client support</a></li>
                        </ul>

                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-7 footer-list-29 footer-4 mt-lg-0 mt-5">
                        <h6 class="footer-title-29">Contact Info </h6>
                        <p>{{abt.location.floor}} {{abt.location.building}} {{abt.location.street}},<br>{{abt.location.city}}.</p>
                        <p class="mt-2">Phone : <a href="tel:{{abt.phone}}" target="_blank">{{abt.phone}}</a></p>
                        <p class="mt-2">Email : <a href="mailto:{{abt.email}}" target="_blank">{{abt.email}}</a></p>
                        <p class="mt-2">Support : <a href="mailto:infotdbsoft@gmail.com" target="_blank">info@support.com</a></p>
                    </div>
                </div>
            </div>
        </div>
        <!-- copyright -->
        <section class="w3l-copyright text-center">
            <div class="container">
                <p class="copy-footer-29">Copyright © {% now "Y" %} Masterspace Solutions Ltd. All rights reserved. Design by <a href="https://titusowuorportfolio.herokuapp.com/" target="_blank">
            Titus@MSS</a></p>
            </div>

            <!-- move top -->
            <button onclick="topFunction()" id="movetop" title="Go to top">⤴</button>
            <script>
                // When the user scrolls down 20px from the top of the document, show the button
                window.onscroll = function() {
                    scrollFunction()
                };

                function scrollFunction() {
                    if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                        document.getElementById("movetop").style.display = "block";
                    } else {
                        document.getElementById("movetop").style.display = "none";
                    }
                }

                // When the user clicks on the button, scroll to the top of the document
                function topFunction() {
                    document.body.scrollTop = 0;
                    document.documentElement.scrollTop = 0;
                }
            </script>
            <!-- /move top -->
        </section>
        <!-- //copyright -->
    </section>
    <!-- //footer -->

    <!--  javascripts file here -->
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>

    <script src="{% static 'js/theme-change.js' %}"></script>
    <!-- //light and dark mode switch js -->

    <script src="{% static 'js/jquery-1.9.1.min.js' %}"></script>
    <!-- faq -->
    <script>
        const items = document.querySelectorAll(".accordion button");

        function toggleAccordion() {
            const itemToggle = this.getAttribute('aria-expanded');

            for (i = 0; i < items.length; i++) {
                items[i].setAttribute('aria-expanded', 'false');
            }

            if (itemToggle == 'false') {
                this.setAttribute('aria-expanded', 'true');
            }
        }

        items.forEach(item => item.addEventListener('click', toggleAccordion));
    </script>
    <!-- //faq -->

    <script src="{% static 'js/easyResponsiveTabs.js' %}"></script>
    <!--Plug-in Initialisation-->
    <script type="text/javascript">
        $(document).ready(function() {
            //Horizontal Tab
            $('#parentHorizontalTab').easyResponsiveTabs({
                type: 'default', //Types: default, vertical, accordion
                width: 'auto', //auto or any width like 600px
                fit: true, // 100% fit in a container
                tabidentify: 'hor_1', // The tab groups identifier
                activate: function(event) { // Callback function if tab is switched
                    var $tab = $(this);
                    var $info = $('#nested-tabInfo');
                    var $name = $('span', $info);
                    $name.text($tab.text());
                    $info.show();
                }
            });
        });
    </script>

    <!-- owl carousel -->
    <script src="{% static 'js/owl.carousel.js' %}"></script>
    <!-- script for banner slider-->
    <script>
        $(document).ready(function() {
            $('.owl-one').owlCarousel({
                loop: true,
                margin: 0,
                nav: false,
                responsiveClass: true,
                autoplay: true,
                autoplayTimeout: 5000,
                autoplaySpeed: 1000,
                autoplayHoverPause: false,
                responsive: {
                    0: {
                        items: 1
                    },
                    480: {
                        items: 1
                    },
                    667: {
                        items: 1
                    },
                    1000: {
                        items: 1
                    }
                }
            })
        })
    </script>
    <!-- //script -->
    <!-- owl carousel -->


    <!-- script for customers -->
    <script>
        $(document).ready(function() {
            $('.owl-three').owlCarousel({
                loop: true,
                margin: 0,
                nav: false,
                dots: false,
                responsiveClass: true,
                autoplay: true,
                autoplayTimeout: 5000,
                autoplaySpeed: 1000,
                autoplayHoverPause: false,
                responsive: {
                    0: {
                        items: 3,
                        nav: true
                    },
                    480: {
                        items: 3,
                        nav: true
                    },
                    667: {
                        items: 3,
                        nav: true
                    },
                    800: {
                        items: 4,
                        nav: true
                    },
                    1000: {
                        items: 5,
                        nav: true
                    }
                }
            })
        })
    </script>
    <!-- //customers owlcarousel -->

    <!-- disable body scroll which navbar is in active -->
    <!-- <script>
    $(function () {
      $('.navbar-toggler').click(function () {
        $('body').toggleClass('noscroll');
      })
    });
  </script> -->
    <!-- disable body scroll which navbar is in active -->

    <!--/MENU-JS-->
    <script>
        $(window).on("scroll", function() {
            var scroll = $(window).scrollTop();

            if (scroll >= 80) {
                $("#site-header").addClass("nav-fixed");
            } else {
                $("#site-header").removeClass("nav-fixed");
            }
        });

        //Main navigation Active Class Add Remove
        $(".navbar-toggler").on("click", function() {
            $("header").toggleClass("active");
        });
        $(document).on("ready", function() {
            if ($(window).width() > 991) {
                $("header").removeClass("active");
            }
            $(window).on("resize", function() {
                if ($(window).width() > 991) {
                    $("header").removeClass("active");
                }
            });
        });
    </script>
    <!--//MENU-JS-->

    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <!-- //bootstrap js -->

</body>

</html>
