{% extends 'base.html' %} {% load static %} {% block content %}
<section class="w3l-breadcrumb">
    <div class="container">
        <ul class="breadcrumbs-custom-path">
            <li><a href="{% url 'home' %}">Home</a></li>
            <li class="active">/ Contact Us</li>
        </ul>
    </div>
</section>
<!-- contact -->
<section class="w3l-contacts-12" id="contact">
    <div class="contact-top pt-5">
        <div class="container py-lg-4">
            <div class="title-heading-w3 text-center mx-auto">
                <h3 class="c-title">Contact Us</h3>
            </div>
            <div class="d-grid cont-main-top mt-lg-5 mt-4">
                <!-- contact dialer -->
                <div class="contacts12-main">
                    <img src="{% static 'images/phone-dialer.jpg' %}" width="100%" height="350px" />
                </div>
                <!-- //contact dialer -->
                <!-- contact address -->
                <div class="contact">
                 <h3 class="contact-title">Quick Contacts</h3>
                    <div class="cont-subs">
                        <div class="cont-add">
                            <h4 >Location:</h4>
                            <p class="contact-text-sub contact-title">{{abt.location.floor}} {{abt.location.building}} {{abt.location.street}} - {{abt.location.city}}.</p>
                        </div>
                        <div class="cont-add">
                            <h4>Email Address:</h4>
                            <a href="mailto:info@masterspace.co.ke">
                                <p class="contact-text-sub contact-title">{{abt.email}}</p>
                            </a>
                        </div>
                        <div class="cont-add">
                            <h4>Phone Number:</h4>
                            <a href="tel:{{abt.phone}}">
                                <p class="contact-text-sub contact-title">{{abt.phone}}</p>
                            </a>
                        </div>
                        <div class="social-icons-con">
                            <h4 class="mb-3">Connect with us:</h4>
                            {% for link in social_links %}
                            <a href="{{link.link_url}}" target="_blank"><span class="{{link.icon}}" aria-hidden="true"></span></a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <!-- //contact address -->
            </div>
        </div>
        <!-- map -->
        <div class="mapouter mr-lg-5" id="map">
            <h3 class="c-title">Get Quick Directions</h3>
            <div class="gmap_canvas m-2">
                <iframe width="100%" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q={{abt.location.floor|truncatechars:3}}%20Floor%20{{abt.location.building}}%20{{abt.location.street}}&t=k&z=19&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no"
                    marginheight="5px" marginwidth="5px"></iframe>
                <style>
                    .mapouter {
                        position: relative;
                        text-align: center;
                        height: 500px;
                         width: 100%;
                        overflow:hidden;
                    }
                    .gmap_canvas {
                        overflow: hidden;
                        background: none!important;
                        height: 500px;
                        width: 100%;
                         overflow:hidden;
                    }
                </style>
            </div>
        </div>
        <!-- //map -->
    </div>
</section>
<!-- //contact -->
{% endblock %}


