{% extends 'base.html' %} {% load static %} {% block content %}
<!-- main-slider -->
<section class="w3l-main-slider" id="home">
    <div class="companies20-content">
        <div class="owl-one owl-carousel owl-theme">
            {% for cm in cms %}
            <div class="item">
                <li>
                    <div class="slider-info  banner-view banner-top1 bg bg2">
                        <div class="banner-info-bg">
                            <div class="container">
                                <div class="banner-info">
                                    <h5>{{cm.title}}</h5>
                                    <h6>{{cm.overview}}</h6>
                                    {% for s in cm.services.all %}
                                    <a class="btn btn-style btn-primary mt-sm-5 mt-4 mr-2" href="{% url 'more' s.id %}"> Learn More</a>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
<!-- /main-slider -->
<!--  services section -->
{% if allservices %}
<div class="w3l-servicesblock2" id="services">
    <section id="grids5-block" class="py-5">
        <div class="container py-lg-3 py-md-4 py-2 mt-0">
        <div class="d-flex">
            <hr /><h3 style="color:red;" class="m-title-left text-uppercase">OUR SERVICES</h3><hr />
        </div>
            <div class="row mt-lg-3 mt-0 text11-content" >
                {% for service in allservices %}
                <div class="col-lg-4 col-md-6 mt-md-0 mt-sm-4">
                    <div class="grids5-info">
                        <a href="{% url 'more' service.id %}" class="blog-image d-block zoom"><img src="{{service.image.url}}" alt="" class="img-fluid news-image"  style="width:100%;height:80%;" />
                            <div class="image-overlay">
                                <span class="fa fa-hand-pointer-o" aria-hidden="true"></span>
                            </div>
                        </a>
                        <div class="card-body blog-info">
                            <h6 style="font-weight:bold;text-transform:uppercase;">{{service.title}}</h6>
                            <h6 style="margin-bottom:25px;font-weight:200px;font-size:14px;">{{service.classification.overview}}</h6>
                            <a href="{% url 'more' service.id %}" class="btn btn-secondary btn-outline-dark mt-lg-0 mt-md-3 mt-1 mr-2" style="color: ivory;font-size:14px;">Learn More </a>
                        </div>
                    </div>
                </div>
                </a>
                {% endfor %}
            </div>
        </div>
    </section>
</div>
{% endif %}
<!--  //services section -->
<section class="w3l-products w3l-faq-block py-5" id="projects">
    <div class="container py-lg-5 py-md-4 py-2">
        <div class="row ">
            <div class="col-lg-6 mx-auto">
                <!--Horizontal Tab-->
                <div id="parentHorizontalTab">
                    <ul class="resp-tabs-list hor_1 mb-2">
                        <li id="about_mss">What we do</li>
                        <li>Our Mission</li>
                        <li>Social impact</li>
                        <div class="clear"></div>
                    </ul>
                    <div class="resp-tabs-container hor_1" style="overflow: auto;">
                        <div class="products-content">
                            <p>{{abt.overview}}</p>
                        </div>
                        <div class="products-content">
                            <ul class="w3l-right-book mt-4">
                                <li class="smodule"><span class="fa fa-check" aria-hidden="true"></span>{{abt.mission}}</li>
                                <li class="smodule"><span class="fa fa-check" aria-hidden="true"></span>{{abt.vission}}</li>
                            </ul>
                        </div>
                        <div class="products-content">
                            <ul class="w3l-right-book mt-4" style="color: rgb(9, 11, 14);">
                                <li class="smodule"><span class="fa fa-check" aria-hidden="true"></span>Always Fast and friendly support
                                </li>
                                <li class="smodule"><span class="fa fa-check" aria-hidden="true"></span>Experienced Professional Team
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 pr-lg-5 mt-lg-0 mt-sm-5 mt-4 mb-0" id="help" style="overflow: auto;">
                <div class="accordion" >
                    <div class="accordion-item" style="background: rgb(230, 230, 230);overflow: auto;color: rgb(2, 39, 71);">
                        <button id="accordion-button-1" aria-expanded="false"><span class="accordion-title smodule">FAQ - Frequently Asked Questions?</span>
                        <span class="icon" aria-hidden="true"></span></button>
                        <div class="accordion-content">
                            <p class="smodule">Learn more about who we are and get quick tips from our FAQs</p>
                        </div>
                    </div>
                    {% for q in qas %}
                    <div class="accordion-item">
                        <button id="accordion-button-2" aria-expanded="false"><span class="accordion-title">
                            {{q.question}}
                        </span><span class="icon" aria-hidden="true"></span></button>
                        <div class="accordion-content">
                            {% for a in q.answers.all %}
                            <p>{{a.answer}}</p>
                            {% endfor %}
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    </div>
</section>
<section class="w3l-bottom1 py-3">
    <div class="office_oop_container">
        <img src="../static/images/office_oop.jpg" alt="Snow" style="width:100%;height:500px">
        <div class="office_oop_centered">
                <h3 class="subtitle">Start improving your Business today! Contact Us</h3>
                <a href="{% url 'contact' %}" class="btn btn-style btn-primary mt-lg-0 mt-md-3 mt-0 ">Contact us</a>
        </div>
    </div>     
</section>
<!-- customers Section -->
{% if cls %}
<h3 class="my-3" style="margin: auto;text-align: center;">Our Clients</h1>
<section class="w3l-customers py-md-5 py-4" id="clients">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="owl-three owl-carousel owl-theme logo-view">
                    {% for client in cls %}
                    <div class="item">
                        <a href="{{client.website}}" style="transform: scale(0.98);">
                            {% if client.logo %}
                            <img src="{{client.logo.url}}" alt="company-logo" class="img-fluid" style="border-radius:50%; width: 100%;height:200px"> {% else %}
                            <img src="{% static 'images/logo1.png' %}" alt="company-logo" class="img-fluid"> {% endif %}
                            <a href="{{client.website}}">
                                <p style="margin:auto;font-weight:bold;">{{client.organisation_name}}</p>
                            </a>
                    </div>
                    {% endfor %}
                    </a>
                </div>
            </div>

        </div>
</section>
<!-- //customers Section -->
{% endif %} {% endblock %}
