{% extends 'base.html' %} {% load static %} {% block content %}
<section class="w3l-breadcrumb">
    <div class="container">
        <ul class="breadcrumbs-custom-path">
            <li><a href="{% url 'home' %}">Home</a></li>
            <li class="active">/ more</li>
        </ul>
    </div>
</section>
<!-- about section -->
<section class="w3l-text-6 py-5" id="about">
    <h3 class="title text-center m-auto text-uppercase">{{service.title}}</h3>
    <div class="text-6-mian py-lg-5 py-md-4">
        <div class="container">
            <div class="row m-lg-4">
                <div class="ml-2">
                    {% if service.image %}
                    <img src="{{service.image.url}}" alt="" class="img-responsive m-auto" width="100%" height="300px" /> {% else %}
                    <img src="{% static 'images/about1.jpg' %}" alt="" class="img-responsive radius-image img-fluid" /> {% endif %}
                </div>
                <div class="m-2">
                    <p class="smodule">{{service.overview}}</p>
                </div>
                <div style="text-align: justify;font-weight:bold;margin:10px" id="desc">
                    {% for s in service.Service_modules.all %}
                    <br>
                    <h6 class="title m-auto text-uppercase" style="margin-top:20px;margin-bottom:0px;">{{s.module_title}}</h6>
                    <p class="my-3" style="font-weight: bold;">{{s.module_subtitle}}</p>
                    <p class="smodule">{{s.module_content}}</p>
                    {% endfor %}
                </div>
            </div>
        </div>
</section>
<!-- //about section -->
{% endblock %}