{% extends 'base.html' %}
{% load static %}

{% block content %}
<!--  services section -->
{% if service %}
<div class="w3l-servicesblock2" id="services">
    <section id="grids5-block" class="py-5">
        <div class="container py-lg-5 py-md-4 py-2">
            <h3 class="title-big text-center">Search Results for "{{query}}"</h3>
            <div class="row mt-lg-5 mt-4">
                {% for n in service %}
                <div class="col-lg-4 col-md-6 w-100" style="width: 50px;;">
                    <div class="grids5-info" style="background-color: rgb(133, 128, 128);">
                        <div class="blog-info">
                            <i class="{{n.icon}}"></i>
                            <h4>
                                <a href="{% url 'more' n.id %}">{{n.title}}
                            </a>
                                <p>{{n.overview}}</p>
                            </h4>
                            <a href="{% url 'more' n.id %}"><span></i><i class="fa fa-arrow-right" style="margin:auto;text-align:center;">View</i></span></a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
</div>
{% else %}
<div class="w3l-servicesblock2" id="services">
    <section id="grids5-block" class="py-5">
        <div class="container py-lg-5 py-md-4 py-2">
            <h1 class="title-big text-center" style="color:violet;">No Results found for search query <span style="color:white;">{{query}}</span></h1>
        </div>
    </section>
</div>{% endif %}
<!--  //services section -->
{% endblock %}